<body>
	<div class="home-banner-nonhome">
		<img src="/assets/kargod_logo.png" class="logo-nonhome">
	</div>
	<div class="dealer-sub-head" style="background:#eeeeee">
		Your App Dashboard!
	</div>
	<div class="container-fluid" align="center">
		<img src="/assets/dash.png" class="user-dash">
		<img src="/assets/map.png" class="map">
	</div>