@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Varela);

.home-banner{
  background: #000000;
  height: 100px;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.logo{
  width: 230px;
  position: relative;
  left: 5%;
  top: 5%;
}

.home-background{
  background: url('road.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-catch{
  width: 50%;
  filter: alpha(opacity=80);
  font-family: "Oswald", sans-serif;
  font-size: 72px;
  line-height: 78px;
  text-align: center;
  color: black;
  padding: 0px 10px 0px 10px;
  margin-top: 40px;
  text-shadow: 1px 1px 1px #FFFFFF;
}

.search-forms{
  margin-top: 70px;
}

.submit-search{
  background-color: #00BF32;
  color: black;
  font-family: "Oswald",sans-serif;
  padding: 15px 10px 15px 10px;
  font-size: 25px;
  border: none;
  margin-top: 15px;
  min-width: 120px;
  cursor: pointer;
  width: 23%;
  border-radius: 10px;
}

.submit-search:hover{
  background-color: #005416;
  cursor: pointer;
  color: white;
}

.logo-nonhome{
  width: 140px;
  position: relative;
  left: 5%;
  top: 5%;
}

.home-banner-nonhome{
  background: #000000;
  height: 60px;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.dealer-sub-head{
  background: #FFFFFF;
  height: 50px;
  opacity: 0.9;
  filter: alpha(opacity=90);
  text-align: center;
  font-size: 24px;
  line-height: 45px;
  min-width: 445px;
}

.dealer-bid{
  margin-top: -190px;
  width: 40%;
  min-width: 350px;
  background: white;
  margin-top: 25px;
  margin-bottom: 25px;
  opacity: 0.90;
  filter: alpha(opacity=90);
}

.dealer-bid-header{
  color: #373737;
  font-family: "Oswald",sans-serif;
  font-size: 65px;
  text-align: left;
  line-height: 70px;
  padding: 20px;
}

.dealer-bid-details{
  color: #373737;
  font-family: "Oswald",sans-serif;
  font-size: 45px;
  text-align: left;
  line-height: 58px;
  padding: 20px;
  margin-top: -45px;
}

.dealer-accept-box{
  position: relative;
  left: 20%;
  top: -310px;
  width: 100px;
}

.accept{
  width: 50px;
  padding: 15px;
  background-color: #00BF32;
  font-size: 16px;
  margin-bottom: 50px;
  cursor: pointer;
}

.reject{
  width: 50px;
  padding: 15px;
  background-color: #ccc;
  font-size: 25px;
  margin-bottom: 50px;
  color: red;
  font-weight: bold;
  cursor: pointer;
}

.dealer-bid-hidden{
  text-align: center;
  width: 40%;
  min-width: 350px;
  background: #CCCCCC;
  margin-top: 25px;
  margin-bottom: 25px;
  opacity: 0.90;
  filter: alpha(opacity=90);
  padding: 20px 0px 20px 0px;
  margin-top: -25px;
}

.hidden_details{
  font-size: 21px;
  padding: 40px;
}

.click-more{
  width: 100px;
  padding: 10px;
  background: #438ac0;
  color: white;
  cursor: pointer;
}

.user-dash{
  width: 50%;
  min-width: 469px;
}

.map{
  padding-left: 6%;
}



body {
  color: #333;
  font-family: 'Oswald', sans-serif;
  font-size: 13px;
  line-height: 18px;
  width: 100%;
}

p, ol, ul, td {
  font-family: 'Oswald', sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

select{
  border-radius: 0px;
  height: 50px;
  font-size: 20px;
  font-family: 'Oswald';
  color: #373737;
  margin-left: 20px;
  border-color: black;
}

.select-date{
  width:110px;
}